<div>
  <h2>{{containerName}}</h2>
  <div class="heroes-container">
    <div class="hero-list">
      <h4>hero list</h4>
      <mat-nav-list>
        <mat-list-item
          *ngFor="let hero of listHeroes"
          [class.selected]="hero === selectedHero"
          (click)="onSelect(hero)">
          <span class="hero-list__item-id">{{hero.id}}</span>
          <span class="hero-list__item-name">{{hero.name}}</span>
        </mat-list-item>
      </mat-nav-list>
    </div>

    <app-hero-detail [hero]="selectedHero"></app-hero-detail>
  </div>
</div>

